services:
  db:
    image: mysql:8.0
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: forgetaboutit_writer
      MYSQL_USER: fw_user
      MYSQL_PASSWORD: fw_pass
    ports:
      - "3307:3306"
    volumes:
      - ./mysql-data:/var/lib/mysql
